
	<fieldset>
        <div class="form-group">
			<div class="row" style="padding-bottom:20px">
				<legend style="margin:0 30px;border-bottom:2px solid #3333;">Personal information</legend>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uFname" class="col-xs-5">First Name<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uFname" name="uFname" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMname" class="col-xs-5">Middle Name<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uMname" name="uMname" type="text"  maxlength="1">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uLname" class="col-xs-5">Last Name <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uLname" name="uLname"  type="text" >
					</div>
				</div>				
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMMname" class="col-xs-5">Mother's Maiden Name <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uMMname" name="uMMname" type="text">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uSuffix" class="col-xs-5">Suffix<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select class="form-control col-xs-12" name="uSuffix" id="uSuffix">
							<option value="">
								---
							</option>
							<option value="Jr">
								Jr
							</option>
							<option value="Sr">
								Sr
							</option>
							<option value="I">
								I
							</option>
							<option value="II">
								II
							</option>
							<option value="III">
								III
							</option>
							<option value="IV">
								IV
							</option>
							<option value="V">
								V
							</option>
							<option value="DDM">
								DDM
							</option>
							<option value="DDS">
								DDS
							</option>
							<option value="DO">
								DO
							</option>
							<option value="ESQ">
								ESQ
							</option>
							<option value="MD">
								MD
							</option>
							<option value="RN">
								RN
							</option>
						</select>
					</div>
				</div>				
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uDOB" class="col-xs-5">Date of Birth <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control datepicker" id="uDOB" name="uDOB" type="text">
					</div>
				</div>
			</div>
			<hr>
			<div class="row" style="padding-bottom:20px">
				<legend style="margin:0 30px;border-bottom:2px solid #3333;"><strong>Contact Information</strong></legend>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uHomePhone" class="col-xs-5">Home Phone <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uHomePhone" name="uHomePhone" type="text"  maxlength="10">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMobilePhone" class="col-xs-5">Mobile Phone<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uMobilePhone" name="uMobilePhone" type="text"  maxlength="10">
					</div>
				</div>	
			</div>	
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMail" class="col-xs-5"> Email <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control col-xs-3" id="uMail" name="uMail" type="mail">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uSSNumber" class="col-xs-5">SSN <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uSSNumber" name="uSSNumber" type="text"  maxlength="9">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uWorkPhone" class="col-xs-5">Work Phone<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uWorkPhone" name="uWorkPhone" type="text"  maxlength="10">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uPreferredPhone" class="col-xs-5">Preferred Phone <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select class="form-control col-xs-12" name="uPreferredPhone" id="uPreferredPhone">
							<option value="">
								---
							</option>
							<option value="Home">
								Home 
							</option>
							<option value="Work">
								Work 
							</option>
							<option value="Mobile">
								Mobile
							</option>
						</select>
					</div>
				</div>						
			</div>
			<hr>
				<div class="row" style="padding-bottom:20px">
					<legend style="margin:0 30px;border-bottom:2px solid #3333;"><strong>Address</strong></legend>
				</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uAddr1" class="col-xs-5">Address Line 1<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uAddr1" name="uAddr1" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uAddr2" class="col-xs-5">Address Line 2<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uAddr2" name="uAddr2" type="text">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uUnit" class="col-xs-5">Apartment No.<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uUnit" name="uUnit" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uCity" class="col-xs-5">City <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uCity" name="uCity" type="text">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uState" class="col-xs-5">State <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uState" name="uState" class="form-control col-sm-2" >
							{% include  'states.html' %}
						</select>
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uCountry" class="col-xs-5">Country <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uCountry" name="uCountry" class="form-control col-sm-2"  >
							{% include 'countries.html' %}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uZip" class="col-xs-5">Zip code <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uZip" name="uZip" type="text"  maxlength="5">
					</div>
				</div>
		    </div>
			<hr>
            <div class="row">				
				<div class="form-group col-sm-12 col-xs-12">
					<input type="checkbox" class="col-xs-1" name="uMailAddr" value="Y" id="uMailAddr" onchange="mailingaddress()">
					<label for="uMailAddr" class="col-xs-5" ><strong>Mailing Address</strong></label>
				</div>
			</div>
			<div class="mailingaddress" style="display:none;">
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMAddr1" class="col-xs-5">Address Line 1 <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMAddr1" name="uMAddr1" type="text">
						</div>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMAddr2" class="col-xs-5">Address Line 2<span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMAddr2" name="uMAddr2" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMUnit" class="col-xs-5">Apartment No.<span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMUnit" name="uMUnit" type="text">
						</div>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMCity" class="col-xs-5">City <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMCity" name="uMCity" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMState" class="col-xs-5">State <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<select id="uMState" name="uMState" class="form-control col-sm-2" >
								{% include  'states.html' %}
							</select>
						</div>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMCountry" class="col-xs-5">Country <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<select id="uMCountry" name="uMCountry" class="form-control col-sm-2" >
								{% include 'countries.html' %}
							</select></br>
						</div>
					</div>
				</div>
				<div class="row">					
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMZip" class="col-xs-5">Zip code <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMZip" name="uMZip" type="text"  maxlength="5">
						</div>
					</div>
				</div>
			</div>
			<hr>            
			<div class="row" style="padding-bottom:20px">
				<legend style="margin:0 30px;border-bottom:2px solid #3333;"><strong>Details of Emargancy Contact</strong></legend>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyFname" class="col-xs-5">First Name<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyFname" name="uEmargancyFname" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyMname" class="col-xs-5">Middle Name<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyMname" name="uEmargancyMname" type="text"  maxlength="1">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyLname" class="col-xs-5">Last Name <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyLname" name="uEmargancyLname"  type="text" >
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyAddr" class="col-xs-5">Address Line <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyAddr" name="uEmargancyAddr" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyCity" class="col-xs-5">City <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyCity" name="uEmargancyCity" type="text">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyState" class="col-xs-5">State <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uEmargancyState" name="uEmargancyState" class="form-control col-sm-2" >
							{% include  'states.html' %}
						</select>
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyCountry" class="col-xs-5">Country <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uEmargancyCountry" name="uEmargancyCountry" class="form-control col-sm-2"  >
							{% include 'countries.html' %}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyZip" class="col-xs-5">Zip code <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyZip" name="uEmargancyZip" type="text"  maxlength="5">
					</div>
				</div>
		    </div>
			
		</div>
	</fieldset>
<script type="text/javascript">
function mailingaddress()
{
    if($('#uMailAddr').is(":checked"))   
        $(".mailingaddress").show();
    else
        $(".mailingaddress").hide();
	}

	$('#uPreferredPhone').change(function () {
		var val = $(this).val();
		 if(val === "Home") {
			$('input[name=uWorkPhone]').prop('required','');   
			$('input[name=uMobilePhone]').prop('required','');   
			$('input[name=uHomePhone]').prop('required','true');    
			}
			else if(val === "Mobile") {
			$('input[name=uWorkPhone]').prop('required','');   
			$('input[name=uMobilePhone]').prop('required','true');   
			$('input[name=uHomePhone]').prop('required','');      
			}    
			else if(val === "Work") {
			$('input[name=uWorkPhone]').prop('required','true');   
			$('input[name=uMobilePhone]').prop('required','');   
			$('input[name=uHomePhone]').prop('required','');   
			}
});
</script>
