
	<fieldset>
        <div class="form-group">
			<div class="row" style="padding-bottom:20px">
				<legend style="margin:0 30px;border-bottom:2px solid #3333;">Personal information</legend>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uFname_1" class="col-xs-5">First Name<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uFname_1" name="uFname_1" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMname_1" class="col-xs-5">Middle Name<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uMname_1" name="uMname_1" type="text"  maxlength="1">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uLname_1" class="col-xs-5">Last Name <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uLname_1" name="uLname_1"  type="text" >
					</div>
				</div>				
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMMname_1" class="col-xs-5">Mother's Maiden Name <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uMMname_1" name="uMMname_1" type="text">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uSuffix_1" class="col-xs-5">Suffix<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select class="form-control col-xs-12" name="uSuffix_1" id="uSuffix_1">
							<option value="">
								---
							</option>
							<option value="Jr">
								Jr
							</option>
							<option value="Sr">
								Sr
							</option>
							<option value="I">
								I
							</option>
							<option value="II">
								II
							</option>
							<option value="III">
								III
							</option>
							<option value="IV">
								IV
							</option>
							<option value="V">
								V
							</option>
							<option value="DDM">
								DDM
							</option>
							<option value="DDS">
								DDS
							</option>
							<option value="DO">
								DO
							</option>
							<option value="ESQ">
								ESQ
							</option>
							<option value="MD">
								MD
							</option>
							<option value="RN">
								RN
							</option>
						</select>
					</div>
				</div>				
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uDOB_1" class="col-xs-5">Date of Birth <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control datepicker" id="uDOB_1" name="uDOB_1" type="text">
					</div>
				</div>
			</div>
			<hr>
			<div class="row" style="padding-bottom:20px">
				<legend style="margin:0 30px;border-bottom:2px solid #3333;"><strong>Contact Information</strong></legend>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uHomePhone_1" class="col-xs-5">Home Phone <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uHomePhone_1" name="uHomePhone_1" type="text"  maxlength="10">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMobilePhone_1" class="col-xs-5">Mobile Phone<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uMobilePhone_1" name="uMobilePhone_1" type="text"  maxlength="10">
					</div>
				</div>	
			</div>	
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uMail_1" class="col-xs-5"> Email <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control col-xs-3" id="uMail_1" name="uMail_1" type="mail">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uSSNumber_1" class="col-xs-5">SSN <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uSSNumber_1" name="uSSNumber_1" type="text"  maxlength="9">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uWorkPhone_1" class="col-xs-5">Work Phone<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uWorkPhone_1" name="uWorkPhone_1" type="text"  maxlength="10">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uPreferredPhone_1" class="col-xs-5">Preferred Phone <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select class="form-control col-xs-12" name="uPreferredPhone_1" id="uPreferredPhone_1">
							<option value="">
								---
							</option>
							<option value="Home">
								Home 
							</option>
							<option value="Work">
								Work 
							</option>
							<option value="Mobile">
								Mobile
							</option>
						</select>
					</div>
				</div>						
			</div>
			<hr>
				<div class="row" style="padding-bottom:20px">
					<legend style="margin:0 30px;border-bottom:2px solid #3333;"><strong>Address</strong></legend>
				</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uAddr1_1" class="col-xs-5">Address Line 1<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uAddr1_1" name="uAddr1_1" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uAddr2_1" class="col-xs-5">Address Line 2<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uAddr2_1" name="uAddr2_1" type="text">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uUnit_1" class="col-xs-5">Apartment No.<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uUnit_1" name="uUnit_1" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uCity_1" class="col-xs-5">City <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uCity_1" name="uCity_1" type="text">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uState_1" class="col-xs-5">State <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uState" name="uState_1" class="form-control col-sm-2" >
							{% include  'states.html' %}
						</select>
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uCountry_1" class="col-xs-5">Country <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uCountry" name="uCountry_1" class="form-control col-sm-2"  >
							{% include 'countries.html' %}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uZip_1" class="col-xs-5">Zip code <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uZip_1" name="uZip_1" type="text"  maxlength="5">
					</div>
				</div>
		    </div>
			<hr>
            <div class="row">				
				<div class="form-group col-sm-12 col-xs-12">
					<input type="checkbox" class="col-xs-1" name="uMailAddr_1" value="Y" id="uMailAddr_1" onchange="mailingaddress_1()">
					<label for="uMailAddr_1" class="col-xs-5" ><strong>Mailing Address</strong></label>
				</div>
			</div>
			<div class="mailingaddress_1" style="display:none;">
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMAddr1_1" class="col-xs-5">Address Line 1 <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMAddr1_1" name="uMAddr1_1" type="text">
						</div>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMAddr2_1" class="col-xs-5">Address Line 2<span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMAddr2_1" name="uMAddr2_1" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMUnit_1" class="col-xs-5">Apartment No.<span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMUnit_1" name="uMUnit_1" type="text">
						</div>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMCity_1" class="col-xs-5">City <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMCity_1" name="uMCity_1" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMState_1" class="col-xs-5">State <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<select id="uMState_1" name="uMState_1" class="form-control col-sm-2" >
								{% include  'states.html' %}
							</select>
						</div>
					</div>
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMCountry_1" class="col-xs-5">Country <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<select id="uMCountry_1" name="uMCountry_1" class="form-control col-sm-2" >
								{% include 'countries.html' %}
							</select></br>
						</div>
					</div>
				</div>
				<div class="row">					
					<div class="form-group col-sm-6 col-xs-12">
						<label for="uMZip_1" class="col-xs-5">Zip code <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
						<div class="col-xs-6">
							<input class="form-control" id="uMZip_1" name="uMZip_1" type="text"  maxlength="5">
						</div>
					</div>
				</div>
			</div>
			<hr>            
			<div class="row" style="padding-bottom:20px">
				<legend style="margin:0 30px;border-bottom:2px solid #3333;"><strong>Details of Emargancy Contact</strong></legend>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyFname_1" class="col-xs-5">First Name<span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyFname_1" name="uEmargancyFname_1" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyMname_1" class="col-xs-5">Middle Name<span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyMname_1" name="uEmargancyMname_1" type="text"  maxlength="1">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyLname_1" class="col-xs-5">Last Name <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyLname_1" name="uEmargancyLname_1"  type="text" >
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyAddr_1" class="col-xs-5">Address Line <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyAddr_1" name="uEmargancyAddr_1" type="text">
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyCity_1" class="col-xs-5">City <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyCity_1" name="uEmargancyCity_1" type="text">
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyState_1" class="col-xs-5">State <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uEmargancyState_1" name="uEmargancyState_1" class="form-control col-sm-2" >
							{% include  'states.html' %}
						</select>
					</div>
				</div>
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyCountry_1" class="col-xs-5">Country <span style="color:red;fontsize:16px;">*</span> <span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<select id="uEmargancyCountry_1" name="uEmargancyCountry_1" class="form-control col-sm-2"  >
							{% include 'countries.html' %}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6 col-xs-12">
					<label for="uEmargancyZip_1" class="col-xs-5">Zip code <span style="color:red;fontsize:16px;">*</span><span class="pull-right">:</span></label>
					<div class="col-xs-6">
						<input class="form-control" id="uEmargancyZip_1" name="uEmargancyZip_1" type="text"  maxlength="5">
					</div>
				</div>
		    </div>
			
		</div>
	</fieldset>
<script type="text/javascript">
function mailingaddress_1()
{
    if($('#uMailAddr_1').is(":checked"))   
        $(".mailingaddress_1").show();
    else
        $(".mailingaddress_1").hide();
	}

	$('#uPreferredPhone_1').change(function () {
		var val_1 = $(this).val();
		 if(val_1 === "Home") {
			$('input[name=uWorkPhone_1]').prop('required','');   
			$('input[name=uMobilePhone_1]').prop('required','');   
			$('input[name=uHomePhone_1]').prop('required','true');    
			}
			else if(val_1 === "Mobile") {
			$('input[name=uWorkPhone_1]').prop('required','');   
			$('input[name=uMobilePhone_1]').prop('required','true');   
			$('input[name=uHomePhone_1]').prop('required','');      
			}    
			else if(val_1 === "Work") {
			$('input[name=uWorkPhone_1]').prop('required','true');   
			$('input[name=uMobilePhone_1]').prop('required','');   
			$('input[name=uHomePhone_1]').prop('required','');   
			}
});
</script>
